*{
    box-sizing: border-box;
}

body{
    background-color: #212129;
    font-family: sans-serif;
}
.search-btn, .close-btn{
    width: 40px;
    height: 40px;
    background-color: #212129;
    font-size: 24px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    position: absolute;
    transition: all 0.50s ease-in-out ;
}
.close-btn{
    color: red;
    z-index: -1;
}
.search-box{
    width: 39px;
    height: 40px;
    padding: 20px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    outline: none;
    transition: width 0.50s ease-out ;
}
.search{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
}
.active .search-box{
    width: 250px;
}
.active .search-btn{
    transform: translate(210px, 2px) scale(0.8);
    /* transform: translate(104px, 2px) scale(0.8); */  /* in case of content in center*/
    background-color: transparent;
}
.active .close-btn{
    transform: translate(250px, 2px) ;
    background-color: transparent;
    /* transform: translate(150px, 2px) ; */ /* in case of content in center*/
    z-index: 0;
}
nav{
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-around; */
    align-items: center;
    gap: 30px;
    padding: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}